@{
    ViewData["Title"] = "Inicio";
}

@* BANNER *@
<div class="bg-banner">
    <div class="bg-banner--opacity">
        <div class="banner">
            <h1 class="bg-banner__titulo">Dogie Store</h1>
            <p class="bg-banner__parrafo">Sistema de Ventas</p>
            <p class="bg-banner__parrafo">Proyecto Final MVC</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Dogie Store</h1>
    </div>

    <div class="card-container">
        <div class="card">
            <div class="content">
                <h2>Categorías</h2>
                <p>Mantenimiento de Categorías de Productos</p>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <h2>Productos</h2>
                <p>Mantenimiento de Productos</p>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <h2>Proveedores</h2>
                <p>Mantenimiento de Proveedoress</p>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <h2>Comprar</h2>
                <p>Comprar de Productos.</p>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <h2>Vender</h2>
                <p>Vender Productos</p>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <h2>Integrantes</h2>
                <p>Lista de los Desarrolladores del Proyecto</p>
            </div>
        </div>

    </div>

</div>