@model SistemaTiendaMVC.Models.Proveedor

@{
    ViewData["Title"] = "Agregar Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <h4>Proveedor</h4>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RUC" class="control-label"></label>
                    <input asp-for="RUC" class="form-control"/>
                    <span asp-validation-for="RUC" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RazonSocial" class="control-label"></label>
                    <input asp-for="RazonSocial" class="form-control"/>
                    <span asp-validation-for="RazonSocial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="telefono" class="control-label"></label>
                    <input asp-for="telefono" class="form-control"/>
                    <span asp-validation-for="telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control"/>
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-success"/>
                    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}